/* import font */
@import url(/css/font.css);

/* Main  */
:root {
   --Pale-blue: hsl(225, 100%, 94%);
   --Bright-blue: hsl(245, 75%, 52%);

   --Very-pale-blue: hsl(225, 100%, 98%);
   --Desaturated-blue: hsl(224, 23%, 55%);
   --Dark-blue: hsl(223, 47%, 23%);

}

*,
html {
   padding: 0;
   margin: 0;
   box-sizing: border-box;

   font-family: 'Red Hat Display', sans-serif;


}

body {
   font-size: 16px;
   background: url(/images/pattern-background-desktop.svg) no-repeat;
   background-size: contain;
   background-color: var(--Pale-blue);
}


.container {

   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
}

.container .box {


   border-radius: 20px;
   overflow: hidden;
   background-color: #fff;
}

.container .box .pic img {

   width: 100%;
}

.box .card .text {
   display: flex;
   flex-direction: column;
   justify-content: center;
   text-align: center;
   align-items: center;
   padding: 2.5rem;

}

.box .card .text h1 {
   font-size: 1.7rem;
   font-weight: 900;
   color: var(--Dark-blue);
   font-size: 2rem;
   margin: 0 0 2rem 0;
}

.box .card .text p {
   color: var(--Desaturated-blue);
   font-size: 1rem;
   margin-bottom: 2rem;
}

.box .card .text .text2 {
   display: flex;

   border-radius: 10px;
   justify-content: space-between;
   align-items: center;
   width: 100%;
   padding: 2rem 1.8rem;

   background: var(--Very-pale-blue);

}

.box .card .text .text2 .b {
   display: flex;
   align-items: center;
   justify-content: center;

}

.box .card .text .text2 .b h2 {
   font-weight: 900;
   color: var(--Dark-blue);
   margin-left: 2rem;
   font-size: 1rem;
}

.box .card .text .text2 a {
   text-decoration: none;
   transition: all .3s;
   font-weight: 900;
   cursor: pointer;
   font-size: 1rem;
}

.box .card .text .text2 a:hover {
   text-decoration: underline;
}

.box .card .text .text2 .b h2 span {
   color: var(--Desaturated-blue);
   font-size: 1rem;
}

.btn1 {
   margin: 2rem 0 0 0;
   background: var(--Bright-blue);
   color: white;
   width: 100%;
   border-radius: 10px;
   font-weight: 900;
   display: flex;
   justify-content: center;
   padding: 1rem 0;
   outline: none;
   border: none;
   cursor: pointer;
   transition: all .3s ease;
   font-size: 1rem;
}

.btn1:hover {
   background: var(--Desaturated-blue);
}

.btn2 {
   margin: 2rem 0 1rem 0;
   font-weight: 900;
   cursor: pointer;
   color: var(--Desaturated-blue);
   transition: all .3s ease;
   font-size: 1rem;
}

.btn2:hover {
   color: var(--Dark-blue);
}

@media only screen and (max-width: 488px) {


   body {
      font-size: 14px;
      padding: 0 1rem;
   }

   .box .card .text {
      padding: 1.5rem;
   }

   .box .card .text .text2 .b h2 {
      margin-left: 1rem;
      font-size: .9rem;
   }

   .box .card .text .text2 .b h2 span {
      font-size: .9rem;
   }

   .box .card .text .text2 {

      padding: 1.3rem 1.5rem;
   }

   .box .card .text .text2 a {
      font-size: .9rem;
   }

   .btn1,
   .btn2 {
      padding: 1.2rem 0;

   }

   .btn2 {
      margin: 1rem 0 0 0;

   }


}

@media only screen and (max-width: 375px) {
   body {
      background: url(/images/pattern-background-mobile.svg) no-repeat;
      background-size: contain;
      background-color: var(--Pale-blue);
   }

   html {
      font-size: 13px;
   }

   .box .card .text h1 {
      font-size: 1.5rem;
      margin-bottom: 1rem;
   }

   body {
      padding: 0 1.2rem;
   }

   .btn1,
   .btn2 {
      font-size: 1rem;
   }

}